 
    <!DOCTYPE html>
    {% load static %}
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <title>My Page </title>
      </head>
    <body>
        <h2> Function Based View Model - CRUD Project  </h2>
       <div>
        <h4>  Add New Student </h4>
        <form action='' method='post'>
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type='submit' value ='Submit'>
        </form>
        <div>
            
        <div>
            <h4>  Student Information </h4>
            {% if stu %}
             <table border=1>
                <tr> <th> ID </th>
                    <th> Name </th>
                    <th> Email </th>
                    <th> Password </th>
                    <th> Action </th>

                <tr>
                {% for rec in stu %}
                <tr> <td> {{rec.id}} </td>
                    <td> {{rec.name}} </td>
                    <td> {{rec.email}} </td>
                    <td> {{rec.password}} </td>
                    <td>
                        <form action="{% url 'updatedata' rec.id %}" method="POST">
                            {% csrf_token %} 
                            <input type='submit' value = "Edit"> 
                        </form>

                        <form action="{% url 'deletedata' rec.id %}" method="post"> {% csrf_token %}
                        <input type='submit' value='Delete'>
                        </form>
                    </td>
                <tr>
                {% endfor %}
                </table>
            {% else %}
            <h5> No Record Available <h5>
           {% endif %}
        <div>
    </body>


</html>